{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('foundation.min.css')}}"/>
    <link rel="stylesheet" href="{{asset('style.css')}}"/>
{% endblock %}
{% block body %}
    <main class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <h2>Options</h2>
                {{form(form)}}
            </div>
            <div class="medium-6 cell">
                {% if not res %}
                    <p>Les résultats s'afficheront ici.</p>
                {% else %}
                    {{res|raw}}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
